.custom-button {
    border: 1px solid orange;
    color: orange;
    background-color: transparent;
    border-radius: 5px; /* Ajusta el valor para controlar la cantidad de redondeo */
    transition: background-color 0.3s, color 0.3s;
  }
  .Color{
    color: gray
  }
 
  img{
    /* width: 100%; */
    object-fit: cover;
    height: 15rem;
    

  }
  .card{
    background-color: #fffde7;
    padding: 1vh;
    font-size: 14px;
    max-height: 16rem ;
    
  }
  
  a {
    text-decoration: none;
  }
  .fontPrice{
    font-size: 22px;
  }