<section>
    <img class="img-fluid" src="../../../assets/imagen/banner.jpg" alt="Imag oferta">
</section>

<section class="container m-auto pt-5">
    <h1>Aginimate - La tienda online que te acerca las últimas tendencias</h1>
    <p>Lo sabemos, vestir a la última y sentirte cómodo a la vez son aspectos clave para funcionar en tu día a día. Por eso, en las secciones de C&A podrás encontrar prendas que marquen tendencia y que, a la vez, te acompañen en tu enérgico ritmo de vida. La moda online de C&A está pensada para ti, para que disfrutes cada momento con cómodos looks y vayas siempre a la última.</p>
</section>