<nav class="navbar navbar-expand-lg bgNav">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#">Aginimate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/productos">Productos</a>
          </li>             
          <li class="nav-item dropdown">            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mujer
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ropa</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>               
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hombre
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ropa</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>               
            </ul>
          </li>            
        </ul>        
        <div>
            <button class="btn btn btn-outline-dark me-3" routerLink="gestion/productos">Gestion</button>
        </div>
      </div>
    </div>
  </nav>


  <!-- <form class="d-flex m-auto" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->